@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.7;
  padding-bottom: 1rem;
  color: #1d1d1d;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: #1c1c1c;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.nav-content {
  column-gap: 1rem;
  align-items: center;
}

section {
  margin: 0 0 5rem;
}

.nav-content .search-box {
  display: flex;
  align-items: center;
  background-color: #484848;
  color: #fff;
  width: 193px;
  height: 36px;
  padding: 5px 15px 5px 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
  transition: all 0.2s ease;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  color: #fff;
}

.search-box .search-icon {
  position: absolute;
  top: 6px;
  left: 14px;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f5f5f5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Top Banner */

.banner-container {
  background: #1d1d1d;
}

.banner {
  background-color: #fff0bb;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 50%;
  position: absolute;
  top: 68px;
  left: 315px;
  z-index: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.banner .highlight {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.banner .view-more {
  font-family: "Lato", sans-serif;
  color: #0948b4;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  margin-left: 5px;
}

/* Image Container */
.image-container {
  position: relative;
  width: 100%;
}

.background-image {
  width: 100%;
  display: block;
}

.myVideo {
  background-color: black;
  width: 100%;
  margin: 0;
  height: 500px;
}

.myVideo video {
  height: 500px;
  width: 100%;
}

.play-button::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.person-image {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

/* Hero Section CSS */

.hero {
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  margin-top: 4rem;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 4rem;
  column-gap: 4rem;
}

.text-content {
  max-width: 50%;
}

.text-content h2 {
  font-size: 2rem;
  color: #1d1d1d;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 15px 0;
}

.buttons {
  display: flex;
  gap: 15px;
}

.primary-button {
  background-color: #0948b4;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-button {
  background-color: #fff;
  color: #1d1d1d;
  border: 2px solid #0948b4;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.profile-content {
  width: auto;
  height: 500px;
  margin-top: -20rem;
  position: relative;
}

.profile-content img {
  width: 100%;
  height: 100vh;
  filter: drop-shadow(7px 7px 15px rgba(0, 0, 0, 0.7));
  filter: grayscale(100%);
}

.suitable-for {
  position: relative;
  text-align: center;
  padding: 24px 0;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 16px;
}

.suitable-for h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 10px;
}

.suitable-for h3::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 50%;
  height: 2px;
  background-color: #1d1d1d;
}

.roles {
  display: flex;
  justify-content: center;
  gap: 87px;
}

.roles span {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #1d1d1d;
}

/* Expertise Section CSS */

.expertise {
  background-color: #fff;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.expertise-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem 1rem;
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.text-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1d1d1d;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

/* Tech Skills CSS */

.tech-skills {
  text-align: left;
}

.skill-name {
  font-family: "Lato", sans-serif;
  /* font-size: 29.93px; */
  font-weight: 600;
  /* line-height: 35.91px; */
}

.tech-skills-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  overflow-x: auto;
  scrollbar-width: none;
}

.skill {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.icon-contain img {
  width: 80px;
  height: 80px;
}

.skill img {
  display: block;
  margin: 0 auto 10px;
}

.skill-title {
  display: flex;
  justify-content: center;
  /* font-size: 32px; */
  font-weight: 500;
  /* line-height: 48px; */
  text-align: center;
  color: #1d1d1d;
}

/* .skill-item p {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: #1D1D1D;
  } */

/* Soft Skills CSS */
.soft-skills {
  text-align: left;
}

.soft-skills-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-item {
  border-radius: 8px;
  width: 150px;
  padding: 15px;
  text-align: center;
}

.skill-item i {
  display: block;
  font-size: 24px;
  color: #0066cc;
  margin-bottom: 10px;
}

.skill-item p {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #1d1d1d;
}

/* Projects Section CSS */

.projects {
  text-align: left;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.project-card {
  background-color: #f1f1f1;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 300px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.project-info {
  padding: 15px 0;
  text-align: left;
}

.project-info h3 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
}

.project-info p {
  font-size: 14px;
  color: #555;
  margin: 0 0 15px;
}

.btn {
  width: 100%;
  background-color: #0948b4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.project-info button:hover {
  background-color: #0056a3;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

/* Experience CSS */

.experience {
  text-align: left;
}

.experience-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 2rem;
  /* flex-wrap: wrap; */
}

.experience-card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.experience-card img {
  width: 269px;
  height: 80px;
  object-fit: contain;
}

.experience-info {
  text-align: left;
}

.experience-info h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.experience-info p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.experience-info button {
  background-color: #0948b4;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.experience-info button:hover {
  background-color: #0056a3;
}

.qualification-section {
  display: flex;
  flex-direction: column;
}

.qualification-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7rem;
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding-left: 30px;
  border-left: 5px solid #1d1d1d;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-description {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #555555;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 20px;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
}

/* .timeline-item:first-child {
  display: none;

}
.timeline-item:last-child {
  display: none;

} */

.timeline-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin: 0;
}

.qualification-right {
  flex: 1;
  text-align: center;
}

.qualification-right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.qualification-info {
  text-align: left;
  padding-left: 2rem;
}

#footer {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.profile-card {
  text-align: center;
  background-color: #121212;
  color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #1d1d1d;
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(100%);
}

.profile-card h2 {
  margin: 50px 0 5px;
  font-size: 24px;
  font-weight: 500;
}

.profile-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #f5f5f5;
}

.profile-card .contact {
  margin-top: 20px;
}

.profile-card .contact button {
  background-color: #0948b4;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-card .contact button:hover {
  background-color: #0056b3;
}

.profile-card .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.profile-card .info svg {
  fill: #c1c1c1;
  width: 18px;
  height: 18px;
}
